// Colors

$bgColor: #FFFFFF;
$bgColorExtra: #F2F2F2;
$bgColorSecondary: #D9D9D9;
$bgColorAccent: #68B738;

$fontColor: #000000;
$fontColorSecondary: #444444;
$fontColorSecondarySpecial: #222222;
$fontColorAccent: #FFFFFF;

$linkColor: #000000;
$linkColorSecondary: #444444;

$buttonColor: #68B738;

$borderColor: #E7E7E7;
$borderColorSecondary: #CDCDCD;
$borderColorThird: #EBEBEB;


// Font
$font: 'Lato', sans-serif;
$fontSecondary: 'Oswald', sans-serif;


