@use "../base/variables" as *;
@use "../base/mixin" as mix;

// Раздел "Дополнительные товары"

.additional-products__title {
  width: 250px;
  margin: 0 0 36px 0;

  font-size: 24px;
  line-height: 24px;

  background-color: $bg-color;

  @media (min-width: $tablet-width) {
    margin: 0 0 80px 0;
    width: 410px;

    font-size: 36px;
    line-height: 36px;
    text-align: center;
  }
}

.additional-products__wrapper {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}

.additional-products__product-list {
  @include mix.list-reset;
  margin: 0 0 35px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 69px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    grid-column: 1 / 4;
  }
}

.additional-products__offer {
  @media (min-width: $desktop-width) {
    flex-grow: 1;
  }
}
