@use "../base/variables" as *;

$bg-color: $basic-white;
$bg-color-secondary: $basic-grey;
$font-color-title: $basic-black-2;
$font-color-text: $special-dark-grey;

// Раздел адреса компании

.address {
  position: relative;

  &--secondary {
    background-color: $bg-color-secondary;
  }
}

.address__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 26px 0;

  @media (min-width: $tablet-width) {
    padding: 56px 40px 63px;
  }

  @media (min-width: $desktop-width) {
    z-index: 1;
    position: absolute;
    top: 95px;
    left: 0;
    padding: 60px 80px 58px;
    gap: 75px;

    background-color: $bg-color;
  }
}

.address__title {
  margin: 0;
  width: 140px;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $font-color-title;

  @media (min-width: $tablet-width) {
    width: 175px;

    font-size: 20px;
    line-height: 26px;
  }
}

.address__text {
  margin: 0;
  width: 145px;

  line-height: 20px;
  color: $font-color;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    width: 160px;

    font-size: 16px;
    line-height: 20px;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

.address__text-line-break {
  @media (min-width: $tablet-width) {
    margin: auto 0 0 0;
  }
}

.address__map {
  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
