@use '../base/variables' as *;

.address {
}

.address__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.address__text {
  line-height: 20px;
  color: $fontColorSecondary;
}
