@use "../base/variables" as *;

$font-color: $basic-white;
$font-color-active: $basic-white-transparent;
$button-color: $accent-color;
$button-color-hover: $accent-color-2;

// Кнопки

.button {
  font-family: $font-secondary;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $font-color;

  border: none;
  background-color: $button-color;
  cursor: pointer;

  &:hover {
    background-color: $button-color-hover;
  }

  &:active {
    color: $font-color-active;
  }
}
