@use '../base/variables' as *;

.button {
  box-sizing: border-box;

  font-family: $fontSecondary;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $fontColorAccent;

  border: none;
  background-color: $buttonColor;
}
