@use "../base/variables" as *;

$font-color: $special-dark-grey;
$icon-color: $special-grey-2;
$icon-color-hover: $accent-color;

// Раздел с логотипом Академии

.copyright {
  display: flex;
  flex-wrap: wrap;
  padding: 24px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.copyright__link {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;

  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: $font-color;

  &:hover {
    &::after {
      background-color: $icon-color-hover;
    }
  }

  &:active {
    opacity: 0.3;
  }

  &::after {
    position: absolute;
    content: "";
    width: 27px;
    height: 34px;
    right: 0;
    top: -50%;

    mask-image: url("../img/icons/sprite.svg#htmlacademy-logo");
    background-color: $icon-color;

    @media (min-width: $tablet-width) {
      top: 0;
    }
  }

  @media (min-width: $tablet-width) {
    height: 37px;
    width: 168px;
    justify-content: start;
    gap: 28px;
  }
}
