@use "../base/variables" as *;

.copyright {

}

.copyright__wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    justify-content: end;
  }
}

.copyright__link {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: $link-color-secondary;
}
