@use "../base/variables.scss" as *;

$line-color: $accent-color;

// Декоративная линия

.decor-line {
  position: relative;
}

.decor-line::after {
  position: absolute;
  content: "";
  background-color: $line-color;
  height: 2px;
  top: 15px;
  left: 20px;
  z-index: -1;
  width: calc(100% - 20px);

  @media (min-width: $tablet-width) {
    top: 22px;
    left: 0;
    width: 100%;
  }
}

.decor-line__inner {
  @media (min-width: $desktop-width) {
    position: relative;
    left: -36px;
  }
}
