@use "../base/variables.scss" as *;

$line-color: $accent-color;

// Декоративная линия

.decor-line {
  position: relative;
}

.decor-line::after {
  position: absolute;
  content: "";
  background-color: $line-color;
  height: 2px;
  width: 100%;
  left: 0;
  top: 60%;
  z-index: -1;

  @media (max-width: $tablet-width) {
    left: 20px;
    width: calc(100% - 20px);
  }
}

.decor-line__inner {
  @media (min-width: $desktop-width) {
    position: relative;
    left: -50px;
  }
}
