@use "../base/variables" as *;

.example-cat {
  padding: 25px 0 40px;
  background-color: $bg-color-secondary;
}

.example-cat__title {
  font-size: 36px;
  line-height: 40px;
}

.example-cat__text {
  margin: 0;
  color: $font-color-secondary;
}

.example-cat__description-termin {
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  color: $font-color-secondary;
}

.example-cat__description-text {
  margin: 0;

  font-family: $font-secondary;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.example-cat__costs-caption {
  font-family: $font-secondary;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
