@use "../base/variables" as *;
@use "../base/mixin.scss" as mix;

$line-color: $special-grey-4;
$number-color: $basic-grey;
$bg-color-icon: $accent-color;
$font-color: $special-dark-grey;

// Раздел "Как это работает"

.guide {
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      bottom: -47px;
      left: 0;

      background-color: $line-color;
    }
  }
}

.guide__title {
  margin: 0 0 40px 0;

  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 32px 0;
  }
}

.guide__list {
  @include mix.list-reset;

  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 2fr 2fr;
    column-gap: 60px;
    row-gap: 37px;
    align-items: start;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 83px;
    align-items: start;
  }
}

.guide__list-item {
  position: relative;
  padding: 0 0 0 81px;
  min-height: 60px;

  @media (min-width: $tablet-width) {
    grid-column: auto;
    padding: 150px 0 57px;
    min-height: 280px;

    &::after {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 118px;

      font-family: $font-secondary;
      color: $number-color;
      font-size: 280px;
      line-height: 280px;

      @media (min-width: $desktop-width) {
        left: 113px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding: 150px 0 0 0;
  }

  &::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;

    background-color: $bg-color-icon;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 26px 30px;

    @media (min-width: $tablet-width) {
      background-size: 26px 30px;
      top: 40px;
      width: 80px;
      height: 80px;
    }
  }

  &--leaf {
    &::before {
      background-image: url("../../img/icons/sprite.svg#icon-leaf");
    }

    @media (min-width: $tablet-width) {
      &::after {
        content: "1";
      }
    }
  }

  &--powder {
    &::before {
      background-image: url("../../img/icons/sprite.svg#icon-powder");
    }

    @media (min-width: $tablet-width) {
      &::after {
        content: "2";
      }
    }
  }

  &--food {
    &::before {
      background-image: url("../../img/icons/sprite.svg#icon-food");
    }

    @media (min-width: $tablet-width) {
      &::after {
        content: "3";
      }
    }
  }

  &--time {
    &::before {
      background-image: url("../../img/icons/sprite.svg#icon-time");
    }

    @media (min-width: $tablet-width) {
      &::after {
        content: "4";
      }
    }
  }
}

.guide__list-text {
  margin: 0;
  color: $font-color;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    max-width: 245px;
  }
}
