@use "../base/variables" as *;

$border-color-sections: $basic-grey-3;

// Футер

.main-footer {
  background-color: $bg-color-extra;
}

.main-footer__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px 0;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(3, 1fr);
    padding: 55px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 67px 0;
  }
}

.main-footer__contacts {
  @media (max-width: $tablet-width) {
    border-bottom: 1px solid $border-color-sections;
  }
}

.main-footer__social {
  @media (max-width: $tablet-width) {
    border-bottom: 1px solid $border-color-sections;
  }
}

.main-footer__copyright {
  @media (min-width: $tablet-width) {
    justify-self: end;
  }
}
