@use '../base/variables' as *;

.main-container {

}

.main-container__promo {
  margin-bottom: 20px;
}

.main-container__feed-serie {
  margin-bottom: 20px;
}

.main-container__guide {
  margin-bottom: 50px;
}

.main-container__title {
  font-size: 36px;
  line-height: 36px;
}
