@use "../base/variables" as *;

.main-nav{
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.main-nav__toggle {
  position: absolute;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
