@use "../base/variables" as *;

.main-container {
  &--secondary {
    @media (min-width: $desktop-width) {
      padding-top: 188px;
    }
  }
}

.main-container__promo {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
  }
}

.main-container__feed-serie-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
    row-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin-bottom: 71px;
  }
}

.main-container__guide {
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    margin-bottom: 90px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

.main-container__title {
  margin: 0;

  font-size: 36px;
  line-height: 36px;

  &--catalog {
    margin: 27px 0 40px 0;

    @media (min-width: $tablet-width) {
      font-size: 60px;
      line-height: 60px;
      margin: 27px 0 145px 0;
      text-align: center;
    }

    @media (min-width: $desktop-width) {
      margin: 0 0 84px 0;
      text-align: start;
    }
  }

  &--form {
    margin-top: 27px;
    margin-bottom: 37px;

    @media (min-width: $tablet-width) {
      font-size: 60px;
      line-height: 60px;
      margin-top: 65px;
      margin-bottom: 54px;
      padding: 0 40px;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
      margin-top: 0;
      margin-bottom: 56px;
    }
  }
}

.main-container__main-products {
  margin: 0 0 25px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 68px 0;
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 76px 0;
  }
}

.main-container__additional-products {
  margin: 0 0 35px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 76px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 85px 0;
  }
}
