@use "../base/variables" as *;

.page {
  height: 100%;
  min-height: 100%;
}

.page__body {
  position: relative;
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  font-family: $font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $font-color;

  background-color: $bg-color;
}

.page__main-container {
  flex-grow: 1;
}
