@use "../base/variables" as *;
@use "../base/mixin" as mix;

$between-tablet-width: 1000px;
$list-desktop-width: 1440px;

// Список основных товаров

.product-list-main {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @media (min-width: $between-tablet-width) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: $list-desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 70px 80px;
  }
}

.product-list-main__item {
  display: flex;
  flex-direction: column;
}
