@use "../base/variables" as *;

$plus-icon-color: #d3d3d3;
$bg-color-white: $basic-white;
$bg-color: $basic-grey;
$border-color: $basic-grey;
$font-color-title: $special-dark-grey-2;
$font-color-product-details: $special-dark-grey;
$underline-color: $special-grey;
$font-color-link-more: $special-dark-grey;
$bg-color-link-more: $basic-grey;
$bg-color-link-more-hover: #ebebeb;
$bg-color-link-more-active: #ebebeb;
$font-color-link-more-active: $special-dark-grey-transparent;

// Карточка основного товара

.product-card-main {
  padding: 20px 0;
  min-height: 209px;

  background-image: none;
  border: 1px solid $border-color-third;

  @media (min-width: $tablet-width) {
    padding: 0 36px 39px;

    line-height: 14px;

    background-image: linear-gradient($bg-color-white 16%, $bg-color 16%);
    border: none;
  }

  &--more {
    display: flex;

    background-image: none;

    @media (min-width: $tablet-width) {
      padding: 82px 0 0 0;
    }
  }
}

.product-card-main__wrapper {
  display: grid;
  width: calc(100% - 40px);
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr min-content;

  @media (min-width: $tablet-width) {
    position: relative;
    width: 100%;
    margin: 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  &--more {
    position: relative;
    padding: 60px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &::before {
      position: absolute;
      content: "";
      width: 30px;
      height: 2px;
      top: 14px;
      left: 50%;
      transform: translateX(-50%);

      background-color: $plus-icon-color;
    }

    &::after {
      position: absolute;
      content: "";
      width: 30px;
      height: 2px;
      top: 14px;
      left: 50%;
      transform: translateX(-50%) rotate(90deg);

      background-color: $plus-icon-color;
    }

    @media (min-width: $tablet-width) {
      padding: 155px 38px 38px;
      flex-grow: 1;

      border: 2px solid $border-color;

      &::before {
        width: 60px;
        top: 82px;
      }

      &::after {
        width: 60px;
        top: 82px;
      }
    }
  }
}

.product-card-main__image-link {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: end;

  @media (min-width: $tablet-width) {
    grid-row: auto;
    grid-column: auto;
    margin: 0 0 34px 0;
    height: 208px;
  }

  @media (min-width: $desktop-width) {
    height: 198px;
    margin: 0 0 46px 0;
  }
}

.product-card-main__image-link:hover + .product-card-main__title-link {
  opacity: 0.6;
}

.product-card-main__image-link:active + .product-card-main__title-link {
  opacity: 0.3;
}

.product-card-main__title-link {
  margin: 0 0 18px 0;
  display: flex;

  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    justify-content: center;
    margin: 0 0 21px 0;
  }
}

.product-card-main__title {
  margin: 0;
  width: 55%;

  font-size: 16px;
  line-height: 20px;
  color: $font-color-title;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    width: 90%;

    line-height: 21px;
  }


  &--more {
    width: 100%;
    margin: 0 0 10px 0;

    text-align: center;

    @media (min-width: $tablet-width) {
      width: 70%;
      margin: 0 0 23px 0;
    }
  }
}

.product-card-main__product-details {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  align-content: start;

  color: $font-color-product-details;

  @media (min-width: $tablet-width) {
    row-gap: 16px;
  }
}

.product-card-main__product-details-wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      bottom: -9px;
      left: 0;
      width: 100%;
      height: 1px;

      background-color: $underline-color;
    }
  }
}

.product-card-main__termin {
  font-size: 12px;
  line-height: 15px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.product-card-main__description {
  margin: 0;

  font-size: 12px;
  line-height: 15px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }

  &--more {
    @media (min-width: $tablet-width) {
      width: 70%;

      line-height: 18px;
      text-align: center;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
    }
  }
}

.product-card-main__link {
  margin: 8px 0 0 0;
  grid-column: 1 / -1;
  padding: 10px 0;

  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    margin: 42px 0 0 0;
  }

  &--more {
    margin: 21px 0 0 0;
    align-self: stretch;

    color: $font-color-link-more;
    background-color: $bg-color-link-more;

    @media (min-width: $tablet-width) {
      margin: 87px 0 0 0;
    }

    &:hover {
      background-color: $bg-color-link-more-hover;
    }

    &:active {
      background-color: $bg-color-link-more-active;
      color: $font-color-link-more-active;
    }
  }
}
