@use "../base/variables.scss" as *;

// Карточка дополнительного товара

$border-color-card: $special-grey;
$font-color-title: $special-dark-grey-2;
$font-color-product-details: $special-dark-grey;

.product-card-additional {
  display: grid;
  grid-template-columns: 1fr;
  gap: 13px;
  padding: 13px 0 20px 0;
  align-items: center;

  border-top: 1px solid $border-color-card;

  &:last-child {
    border-bottom: 1px solid $border-color-card;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    padding: 26px 38px 28px;
    gap: 24px;

    border: 1px solid $border-color-card;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding: 15px 0;
    display: flex;
    flex-grow: 1;

    border-top: 1px solid $border-color-card;
    border-left: none;
    border-right: none;
  }
}

.product-card-additional__title-link {
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.product-card-additional__title {
  margin: 0;

  font-size: 16px;
  line-height: 16px;
  color: $font-color-title;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.product-card-additional__product-details {
  margin: 0;
  display: flex;
  justify-content: space-between;

  font-size: 14px;
  line-height: 14px;
  color: $font-color-product-details;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    justify-content: end;
    gap: 50px;
  }

  @media (min-width: $desktop-width) {
    min-width: 285px;
    margin: 0 0 0 auto;
  }
}

.product-card-additional__description {
  margin: 0;

  text-align: end;

  @media (min-width: $tablet-width) {
    min-width: 42px;
  }
}

.product-card-additional__termin {
  @media (min-width: $tablet-width) {
    text-align: end;
  }
}

.product-card-additional__link {
  padding: 10px 85px;

  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    grid-column: 1 / -1;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 15px;
    padding: 10px 92px;
  }
}
