@use "../base/variables" as *;
@use "../base/mixin.scss" as mix;

.program-form {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.program-form__wrapper {
  @media (min-width: $desktop-width) {
    width: calc(100% - 220px);
    max-width: $desktop-width;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }
}

.program-form__feed-wrapper {
  @media (min-width: $desktop-width) {
    width: auto;
    margin: 0;
  }
}

.program-form__cat-wrapper {
  @media (min-width: $desktop-width) {
    width: auto;
    margin: 0;
    flex-grow: 1;
  }
}

.program-form__text {
  grid-column: 1 / -1;
  margin: 0 0 39px 0;
  text-transform: uppercase;
}

.program-form__group {
  margin: 0 0 23px 0;
  padding: 0;

  border: none;

  &--additional {
    margin: 0 0 34px 0;
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 65px 0;

    &--cat-information {
      margin: 0 0 72px 0;
    }

    &--feed-program {
      margin: 0 0 71px 0;
    }

    &--additional {
      margin: 0 0 54px 0;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 67px 0;

    &--additional {
      margin: 0 0 61px 0;
    }

    &--cat-information {
      display: flex;
    }
  }

  &--feed-program {
    @media (max-width: $tablet-width) {
      border: 1px solid $border-color;
    }
  }
}

.program-form__input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;

  @media (min-width: $tablet-width) {
    gap: 20px;
  }

  &--owner {
    @media (min-width: $desktop-width) {
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 78px;
    }
  }
}

.program-form__group-title-wrapper {
  width: 100%;
  padding: 0;
  margin: 0 0 35px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 76px 0;
  }

  &--additional {
    @media (min-width: $tablet-width) {
      margin: 0 0 57px 0;
    }
  }
}

.program-form__group-title {
  display: inline-block;
  padding: 0 20px 0 0;

  font-size: 24px;
  line-height: 26px;

  background-color: $bg-color;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px;
  }
}

.program-form__line-break {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.program-form__label {
  flex-grow: 1;
  display: flex;
  gap: 13px;

  &--has-icon:focus-within {
    &::after {
      background-color: $bg-color-accent;
    }
  }

  &--email {
    position: relative;

    &::after {
      z-index: -1;
      position: absolute;
      content: "";
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      width: 18px;
      height: 14px;
      background-color: #000000;
      mask-image: url("../../img/icon-email.svg");

      @media (min-width: $tablet-width) {
        right: 18px;
      }
    }
  }

  &--phone {
    position: relative;

    &::after {
      z-index: -1;
      position: absolute;
      content: "";
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      width: 15px;
      height: 16px;
      background-color: #000000;
      mask-image: url("../../img/icon-phone.svg");

      @media (min-width: $tablet-width) {
        right: 18px;
      }
    }
  }

  &--error {
    &::after {
      background-color: $error;
    }
  }
}

.program-form__label-text {
  display: flex;
  align-items: center;

  text-transform: uppercase;
  color: $font-color-secondary;
}

.program-form__input {
  flex-grow: 1;
  padding: 11px 20px;

  font-family: $font-secondary;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $font-color-secondary;

  border: 1px solid $border-color;
  background-color: transparent;

  &:hover {
    border-color: $border-color-secondary;
  }

  &:focus {
    outline: 2px solid $border-color-focus;
  }

  &[type="tel"]:invalid:not(:placeholder-shown) {
    outline: 1px solid $error;
  }

  &[type="email"]:invalid:not(:placeholder-shown) {
    outline: 1px solid $error;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.program-form__list {
  @include mix.list-reset;
}

.program-form__textarea {
  flex-grow: 1;
  min-height: 150px;
  margin: 0;
  padding: 10px 19px;

  font-family: $font-secondary;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $font-color-secondary;

  border: 1px solid $border-color;
  resize: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.program-form__button-wrapper {
  margin: 0 0 32px 0;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 64px;
    margin: 0 0 72px 0;
  }

  @media (min-width: $desktop-width) {
    gap: 84px;
    margin: 0 0 82px 0;
  }
}

.program-form__button {
  margin: 0 0 21px 0;
  padding: 13px 45px;

  @media (min-width: $tablet-width) {
    margin: 0;

    font-size: 20px;
    line-height: 20px;
  }
}

.program-form__note {
  display: flex;
  justify-content: center;

  font-family: $font;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    align-items: center;
    justify-content: start;
    font-size: 16px;
  }
}
