@use "../base/variables" as *;
@use "../base/mixin.scss" as mix;

$bg-color-group-title: $basic-white;
$icon-color: $basic-black;
$icon-color-focus: $accent-color;
$icon-color-error: $basic-red;
$font-color-label: $special-dark-grey;
$font-color-input: $special-dark-grey;
$border-color-input: $special-grey-4;
$border-color-input-hover: $special-grey;
$border-color-input-focus: $special-dark-grey;
$font-color-textarea: $special-dark-grey;
$border-color-textarea: $special-grey-4;
$border-color-textarea-hover: $special-grey;
$border-color-group-feed: $basic-grey-3;

// Форма подбора программы

.program-form {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.program-form__inner {
  @media (min-width: $desktop-width) {
    width: calc(100% - 220px);
    max-width: $desktop-width;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }
}

.program-form__container {
  @media (min-width: $tablet-width) {
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.program-form__feed-wrapper {
  @media (min-width: $desktop-width) {
    width: auto;
    margin: 0;
  }
}

.program-form__text {
  grid-column: 1 / -1;
  margin: 0 0 39px 0;
  max-width: 230px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    max-width: 325px;
    margin: 0 0 66px 0;
  }
}

.program-form__group {
  margin: 0 0 25px 0;
  padding: 0;

  border: none;

  &--additional {
    margin: 0 0 34px 0;
  }

  &--feed {
    border: 1px solid $border-color-group-feed;
    border-left: none;
    border-right: none;
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 65px 0;

    &--cat {
      margin: 0 0 72px 0;
    }

    &--feed {
      margin: 0 0 71px 0;
      border: none;
    }

    &--additional {
      margin: 0 0 50px 0;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 67px 0;

    &--additional {
      margin: 0 0 61px 0;
    }
  }
}

.program-form__input-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;

  @media (min-width: $tablet-width) {
    gap: 20px;
  }

  &--owner {
    @media (min-width: $desktop-width) {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 78px;
    }
  }

  &--cat {
    @media (min-width: $desktop-width) {
      width: auto;
      margin: 0;
    }
  }
}

.program-form__group-title-wrapper {
  width: 100%;
  padding: 0;
  margin: 0 0 35px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 74px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 70px 0;
  }

  &--additional {
    @media (min-width: $tablet-width) {
      margin: 0 0 50px 0;
    }

    @media (min-width: $desktop-width) {
      margin: 0 0 53px 0;
    }
  }
}

.program-form__group-title {
  display: inline-block;
  padding: 0 20px 0 0;

  font-size: 24px;
  line-height: 26px;

  background-color: $bg-color-group-title;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px;
  }
}

.program-form__line-break {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.program-form__label {
  flex-grow: 1;
  display: flex;
  gap: 13px;

  &--has-icon {
    gap: 10px;

    @media (min-width: $tablet-width) {
      gap: 22px;
    }

    @media (min-width: $desktop-width) {
      grid-column: span 2;
    }
  }

  &--has-icon:focus-within {
    &::after {
      background-color: $icon-color-focus;
    }
  }

  &--error:focus-within {
    &::after {
      background-color: $icon-color-error;
    }
  }

  &--email {
    position: relative;

    &::after {
      z-index: -1;
      position: absolute;
      content: "";
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      width: 18px;
      height: 14px;

      background-color: $icon-color;
      mask-image: url("../../img/icons/sprite.svg#icon-email");

      @media (min-width: $tablet-width) {
        right: 18px;
      }

      @media (min-width: $desktop-width) {
        right: 20px;
      }
    }
  }

  &--phone {
    position: relative;

    &::after {
      z-index: -1;
      position: absolute;
      content: "";
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      width: 15px;
      height: 16px;

      background-color: $icon-color;
      mask-image: url("../../img/icons/sprite.svg#icon-phone");

      @media (min-width: $tablet-width) {
        right: 18px;
      }

      @media (min-width: $desktop-width) {
        right: 20px;
      }
    }
  }
}

.program-form__label-text {
  display: flex;
  align-items: center;

  text-transform: uppercase;
  color: $font-color-label;
}

.program-form__input {
  width: 0;
  height: 45px;
  flex-grow: 1;
  padding: 11px 20px;

  font-family: $font-secondary;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $font-color-input;

  border: 1px solid $border-color-input;
  background-color: transparent;

  &--has-icon {
    padding: 11px 15px;
  }

  &:hover {
    border-color: $border-color-input-hover;
  }

  &:focus {
    outline: 2px solid $border-color-input-focus;
  }

  &[type="tel"]:invalid:not(:placeholder-shown) {
    outline: 1px solid $error;
  }

  &[type="email"]:invalid:not(:placeholder-shown) {
    outline: 1px solid $error;
  }

  @media (min-width: $tablet-width) {
    height: 52px;

    font-size: 20px;
    line-height: 30px;
  }
}

.program-form__list {
  @include mix.list-reset;
}

.program-form__textarea {
  flex-grow: 1;
  min-height: 150px;
  margin: 0;
  padding: 10px 10px 10px 15px;

  font-family: $font-secondary;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $font-color-textarea;

  border: 1px solid $border-color-textarea;
  resize: none;

  &:hover {
    border-color: $border-color-textarea-hover;
  }

  @media (min-width: $tablet-width) {
    min-height: 175px;
    font-size: 20px;
    line-height: 30px;
  }
}

.program-form__button-wrapper {
  margin: 0 0 32px 0;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 64px;
    margin: 0 0 72px 0;
  }

  @media (min-width: $desktop-width) {
    gap: 84px;
    margin: 0 0 82px 0;
  }
}

.program-form__button {
  margin: 0 0 21px 0;
  padding: 10px 45px;

  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    margin: 0;
    padding: 16px 45px;

    font-size: 20px;
  }
}

.program-form__note {
  display: flex;
  justify-content: center;

  font-family: $font;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    align-items: center;
    justify-content: start;
    font-size: 16px;
  }
}
