@use "../base/variables" as *;
$bg-color-promo: #64a73c;

.promo {
  color: $font-color-accent;
  position: relative;

  background-image: url("../../img/promo-background-phone.jpg"), linear-gradient($bg-color-promo 60%, $bg-color 60%);
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 0;

  @media (min-width: $tablet-width) {
    color: $font-color;

    background: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 112px;


    &::before {
      z-index: -3;
      position: absolute;
      content: "";
      height: 100%;
      width: 50%;
      top: 0;
      left: 50%;
      display: block;

      background-image: url("../../img/promo-background.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }

    &::after {
      z-index: -2;
      position: absolute;
      content: "";
      height: 100%;
      width: 50%;
      top: 0;
      left: 50%;
      background-color: $bg-color-accent;
      opacity: 85%;
    }
  }
}

.promo__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 27px 0;

  @media (min-width: $tablet-width) {
    position: relative;
    padding: 64px 206px 526px 90px;
    align-items: start;
  }

  @media (min-width: $desktop-width) {
    padding: 111px 600px 185px 80px;
  }
}

.promo__title {
  margin: 0 0 25px 0;

  font-size: 36px;
  line-height: 36px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    text-align: start;

    margin-bottom: 41px;
  }
}

.promo__description {
  margin: 0;

  font-family: $font-secondary;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;

  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    text-align: start;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 49px;
  }
}

.promo__image {
  align-self: center;

  @media (min-width: $tablet-width) {
    z-index: -1;
    width: 700px;
    height: 609px;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
  }
}

.promo__button {
  padding: 13px 44px;

  @media (min-width: $tablet-width) {
    padding: 14px 25px;
    font-size: 20px;
    line-height: 20px;
  }
}
