@use "../base/variables" as *;
@use "../base/mixin" as mix;

$bg-color-promo: #64a73c;

.promo {
  position: relative;

  color: $font-color-accent;

  background-image: url("../../img/promo-background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/promo-background-mobile@2x.jpg");
    background-size: 320px 302px;
  }

  @media (min-width: $tablet-width) {
    color: $font-color;

    background: none;
  }

  &::after {
    z-index: -1;
    position: absolute;
    content: "";
    height: 63%;
    width: 100%;
    top: 0;
    left: 0;

    background-color: $bg-color-promo;

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: block;
      z-index: -2;
      height: 100%;
      width: 50%;
      left: 50%;
      background-color: $bg-color-accent;
      opacity: 85%;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 112px;

    &::before {
      z-index: -3;
      position: absolute;
      content: "";
      height: 100%;
      width: 50%;
      top: 0;
      left: 50%;
      display: block;

      background-image: url("../../img/promo-background-desktop.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }

    @media (min-resolution: 2dppx) {
      &::before {
        background-image: url("../../img/promo-background-desktop@2x.jpg");
      }
    }
  }
}

.promo__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 27px 0 0 0;

  @media (min-width: $tablet-width) {
    position: relative;
    padding: 50px 0 526px 90px;
    align-items: start;
  }

  @media (min-width: $desktop-width) {
    padding: 111px 0 185px 80px;
  }
}

.promo__title {
  margin: 0 0 25px 0;

  font-size: 36px;
  line-height: 36px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    text-align: start;

    margin-bottom: 41px;
  }
}

.promo__description {
  margin: 0;

  font-family: $font-secondary;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;

  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    text-align: start;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 49px;
  }
}

.promo__image {
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    z-index: -1;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  @media (min-width: $desktop-width) {
    right: 220px;
    bottom: 50px;
  }
}

.promo__button {
  padding: 13px 44px;

  @media (min-width: $tablet-width) {
    padding: 17px 27px;
    font-size: 20px;
    line-height: 20px;
  }
}
