@use '../base/variables' as *;

.radio {
  list-style-type: none;
}

.radio__text {
  font-family: $fontSecondary;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $fontColorSecondarySpecial;
}
