@use "../base/variables" as *;
@use "../base/mixin.scss" as mix;

$border-color-radio: $special-grey-4;
$font-color-text: $special-dark-grey-2;
$border-color-mark: $special-grey;
$color-circle: $accent-color;
$border-color-mark-focus: $special-dark-grey;
$border-color-mark-hover: $special-grey-3;

.radio {
  padding: 22px 0 19px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: $tablet-width) {
    padding: 25px 0 25px 28px;
    gap: 13px;

    border: 1px solid $border-color-radio;
  }
}

.radio__item {
  display: flex;
}

.radio__label {
  position: relative;
  padding: 5px 0;
}

.radio__text {
  margin: 0 0 0 45px;

  font-family: $font-secondary;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $font-color-text;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    margin: 0 0 0 60px;

    font-size: 20px;
    line-height: 30px;
  }
}

.radio__mark {
  position: absolute;
  width: 30px;
  height: 30px;
  top: -2px;
  left: 0;

  cursor: pointer;

  border: 1px solid $border-color-mark;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    top: 0;
  }
}

.radio__input:checked + .radio__mark::after {
  position: absolute;
  content: "";
  width: 13px;
  height: 13px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: $color-circle;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
  }
}

.radio__input:focus + .radio__mark {
  outline: none;
  border: 1px solid $border-color-mark-focus;
}

.radio__input:hover + .radio__mark {
  border-color: $border-color-mark-hover;
}

.radio__input:active + .radio__mark,
.radio__input:active ~ .radio__text {
  opacity: 0.3;
}

.radio__input:disabled + .radio__mark,
.radio__input:disabled ~ .radio__text {
  opacity: 0.3;
  cursor: default;
}
