@use "../base/variables" as *;
@use "../base/mixin.scss" as mix;

$bg-color: $basic-white;
$border-color: #e6e6e6;
$underline-color: $accent-color;
$underline-color-cat: $basic-white;
$font-color-cat: $basic-white;

// Список ссылок в навигации

.site-list {
  @include mix.list-reset;
}

.site-list__item {
  padding: 22px 60px 21px;

  text-align: center;

  outline: 1px solid $border-color;
  background-color: $bg-color;

  @media (min-width: $tablet-width) {
    padding: 18px 0 12px;

    outline: none;
    background-color: transparent;
  }
}

.site-list__item--active .site-list__link {
  @media (min-width: $tablet-width) {
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      bottom: -6px;
      left: 0;

      background-color: $underline-color;
    }
  }

  @media (min-width: $desktop-width) {
    &--cat-theme::after {
      background-color: $underline-color-cat;
    }
  }
}

.site-list__link {
  position: relative;

  font-weight: 500;
  font-size: 20px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &--cat-theme {
    @media (min-width: $desktop-width) {
      color: $font-color-cat;
    }
  }

  &:hover {
    opacity: 0.6;
  }
}
