@use "../base/mixin.scss" as mix;

// Site navigation

.site-list {
  @include mix.list-reset;
}

.site-list__item {
  padding: 22px 60px 24px;
  text-align: center;
}

.site-list__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}
