@use "../base/variables" as *;

$toggle-color: $special-grey-2;
$toggle-bg-color: $basic-white;
$toggle-color-hover: $accent-color;

// Слайдер

.slider {
  position: relative;
  display: flex;
  justify-content: center;
}

.slider__toggle {
  position: absolute;
  width: 4px;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;

  background-color: $toggle-color;
  border: none;
  border-radius: 5px;

  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    top: 50%;
    left: -18px;
    transform: translateY(-50%);

    border: 2px solid $toggle-color;
    background-color: $toggle-bg-color;
    border-radius: 50%;
  }

  &::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 18px;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);

    background-color: $toggle-color;
    mask-image: url("../../img/icons/sprite.svg#icon-slider-toggle");
  }

  &:focus,
  &:hover {
    outline: none;
    background-color: $toggle-color-hover;

    &::before {
      border-color: $toggle-color-hover;
    }

    &::after {
      background-color: $toggle-color-hover;
    }
  }

  &:active {
    opacity: 0.6;
  }
}
