@use "../base/mixin" as mix;
@use "../base/variables" as *;

$icon-color: $special-grey-2;
$icon-color-hover: $accent-color;
$icon-color-active: $accent-color;

// Социальные сети

.social {
  display: flex;
  padding: 20px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.social__list {
  @include mix.list-reset;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.social__item {
  display: flex;
  align-items: center;
}

.social__link {
  width: 28px;
  height: 22px;
  position: relative;

  &:hover {
    &::after {
      background-color: $icon-color-hover;
    }
  }

  &:active {
    &::after {
      background-color: $icon-color-active;
      opacity: 0.3;
    }
  }

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    background-color: $icon-color;
  }

  &--vkontakte {
    &::after {
      width: 27px;
      height: 17px;
      mask-image: url("../../img/icons/sprite.svg#icon-vk");
    }
  }

  &--youtube {
    &::after {
      width: 24px;
      height: 19px;
      mask-image: url("../../img/icons/sprite.svg#icon-youtube");
    }
  }

  &--telegram {
    &::after {
      width: 19px;
      height: 17px;
      mask-image: url("../../img/icons/sprite.svg#icon-telegram");
    }
  }
}
