@use "../base/variables" as *;

$bg-color: $accent-color;
$font-color: $basic-white;

// Раздел специального предложения

.special-offer {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 189px 55px 43px;

  background-image: url("../../img/special-offer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: $bg-color;

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  &::after {
    position: absolute;
    content: "";
    width: 57px;
    height: 61px;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);

    background-image: url("../../img/icons/sprite.svg#icon-gift");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-width: $tablet-width) {
      top: 47%;
      left: 88px;
      transform: translateY(-50%);
    }

    @media (min-width: $desktop-width) {
      top: 62px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/special-offer@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    min-height: 200px;
    justify-content: end;
    padding: 68px 124px 69px 0;

    background-image: url("../../img/special-offer-tablet.jpg");
    background-position: right 60%;
    box-shadow: none;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/special-offer-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    align-items: end;
    justify-content: center;
    padding: 185px 20px 42px;

    background-image: url("../../img/special-offer-desktop.jpg");
    background-position: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/special-offer-desktop@2x.jpg");
    }
  }
}

.special-offer__text {
  margin: 0;
  text-align: center;
  max-width: 161px;

  font-size: 16px;
  line-height: 20px;
  color: $font-color;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    text-align: start;
  }
}
